<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">
            <p>Project: {{ projectName }}</p>
            <br>
            <ul id="applications">
              <li v-for="application in applications">
                {{ application.Identifier }}
              </li>
            </ul>
            <ul id="example-1">
              <li v-for="conversion in conversionList">
                {{ conversion.name }}
              </li>
            </ul>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production: <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="js/vue.js"></script>
</html>