<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    </head>
    <body>
        <div id="app">
            <div class="wrapper container col-md-12">
                <br/>
                <div class="row">
                    <div class="col-md-2 border-right">
                        <div class="wrapper container col-md-12">
                            <div class="row mb-3 ">
                                <div class="col-md-12 text-center">
                                    <h3>Mediations</h3>
                                </div>
                            </div>
                            <div class="row mb-1 text-center" v-for="node in integrationData.nodes">
                                <div class="col-md-12 text-center">
                                    <button type="button" v-on:click="selectNode(node)" class="btn btn-secondary">
                                      {{ node.baseData.name }}
                                    </button>                    
                                </div>            
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-10">
                        <div v-if=selectedNode class="wrapper container col-md-12">
                            <div class="row mb-3 ">
                                <div class="col-md-12 text-center">
                                    <h3>Mediation: {{ selectedNode.baseData.name }}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row" v-for="inputLink in selectedNode.inputLinks">
                                        <div class="col-md-11">
                                            <button type="button" class="btn btn-secondary float-right" >
                                                {{ integrationData.nodesById[inputLink.fromNodeId].baseData.name }}
                                            </button>                    
                                        </div>
                                        <div class="col-md-1" data-toggle="tooltip" data-placement="top" :title=inputLink.dataType.baseData.name >
                                            <span class="fa fa-arrow-right"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <button type="button" class="btn btn-secondary">
                                      {{ selectedNode.baseData.name }}
                                    </button>                    
                                </div>            
                                <div class="col-md-5">
                                    <div class="row" v-for="outputLink in selectedNode.outputLinks">
                                    
                                        <div class="col-md-1" data-toggle="tooltip" data-placement="top" :title=outputLink.dataType.baseData.name >
                                            <span class="fa fa-arrow-right"></span>
                                        </div>
                                        <div class="col-md-11">
                                            <button type="button" class="btn btn-secondary float-left" >
                                                {{ integrationData.nodesById[outputLink.toNodeId].baseData.name }}
                                            </button>                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
        
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <!-- Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- production: <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
        
        <!-- Our own js -->
        <script src="js/vue.js"></script>
    </body>
</html>